/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 24px;
}

#auth-container {
  margin: 16px;
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

#app, #add-page-container {
  max-width: 800px;
  margin: 8px auto;
  padding: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  height: 48px;
  width: 100%;
  border: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

input, textarea, select {
  width: 100%;
  max-width: 800px;
  border: 1px solid #9C998E;
  border-radius: 8px;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 16px;
}

::placeholder {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

#status-tabs {
  margin-top: 24px;
}

.status-tab {
  padding: 10px;
  background-color: #aeaeae;
  cursor: pointer;
  border-radius: 4px;
}

.status-tab:hover {
  background-color: #000000;
}

.status-label {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
}

.page-item {
  background-color: #fff;
  padding: 16px;
  border: 1px solid #E1DFD3;
  border-radius: 16px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.regaway {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

a {
  margin-top: 8px;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.auth-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pages-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.bases-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Расстояние между элементами */
}

.base-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.base-item:hover {
  background-color: #eaeaea;
}



#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.spinner {
  border: 5px solid #ccc;
  border-top: 5px solid #007BFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
