/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


/* Reset and base styles  */

.header {
  background: #ffffff;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #d9d8d3;
}

body {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #F5F5F0;
}

h1 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
}

h2 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 16px;
}

span {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 600;
}

#calendar {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 500px;
  padding-top: 96px;
}

.calendar-day {
  border-radius: 8px;
}

.day-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 16px;
  gap: 2px;
}

.day-date {
  font-weight: 700;
  font-size: 24px;
  color: #333;
}

.day-weekday {
  font-size: 16px;
  font-weight: 500;
  color: #777;
}

.tasks-list {
  list-style-type: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 4px;
}

.task-elements {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-item {
  display: flex;
  gap: 8px;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 16px;
  margin-top: 4px;
}

.task-item.done span {
  text-decoration: line-through;
  color: #9C998E;
}

.task-description {
  display: -webkit-box; /* Включает поддержку Flexbox для многоколоночного текста */
  -webkit-box-orient: vertical; /* Устанавливает вертикальное направление */
  overflow: hidden; /* Прячет текст, выходящий за границы */
  text-overflow: ellipsis; /* Добавляет многоточие для обрезанного текста */
  -webkit-line-clamp: 2; /* Ограничивает текст двумя строками */
  line-clamp: 2; /* Совместимость для современных браузеров */
}


.task-description.done {
  text-decoration: line-through;
  color: #9C998E;
}

.task-item button {
  background: none;
  border: none;
  color: #d9534f;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: auto;
}


.add-task-btn {
  background-color: #ffffff;
  color: #9C998E;
  padding: 16px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
}

.add-task-btn i {
  margin-right: 8px;
  font-size: 1.2em;
}



.checkbox-item {
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 2px solid #000000;
  transition: 500ms;
  padding-right: 20px;
}

.checkbox-item::after {
  content: "";
  position: absolute;
  background: #000;
  font-size: 30px;
  top: -2px;
  left: -2px;
  width: 0px;
  height: 0px;
  border-radius: 8px;
  background-image: url("images/checkbox.svg");
  background-repeat: no-repeat;
  transition: 500ms;
}

.checkbox-item:checked::after {
  width: 24px;
  height: 24px;
  transition: 500ms;
}

.checkbox-item:disabled,
.radio-input:disabled {
  background: #ccc;
  border-color: #ccc;
}

.checkbox-item:disabled::after {
  filter: grayscale(100%);
}

.plus-button {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 8px;
}

.close-btn:hover {
  color: #000;
}

#taskInput, #email, #password, #editTaskInput, #editDescriptionInput, #descriptionInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 16px;
}

#addTaskButton, #loginButton, #registerButton, #saveTaskButton, #editFromViewButton {
  background-color: #000000;
  color: #ffffff;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#saveTaskButton {
  background-color: #000000;
  color: #ffffff;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.auth-container {
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 16px;
  text-align: center;
  height: 100vh;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 8px;
  height: 48px;
}

.auth-container button {
  background-color: #000000;
  color: #ffffff;
  padding: 12px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}


/* Анимация для модальных окон */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

/* Добавим стили для кнопки выхода */

#logoutButton {
  background-color: #d9534f;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#logoutButton:hover {
  background-color: #c9302c;
}

#deleteFromViewButton, #deleteTaskButton {
  background-color: #d9534f;
  color: #ffffff;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#deleteFromViewButton:hover {
  background-color: #c9302c;
}

/* Стили для блока с почтой пользователя */
#userInfo {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: auto;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

#userEmail {
  font-size: 16px;
  color: #333;
  width: 100%;
}

.would-you {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth-conteiner2 {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.have-account {
  font-size: 14px;
}

.register-button {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.description {
  font-size: 16px;
  font-weight: 500;
  color: #9C998E;
}

#viewTaskModal p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
  padding-bottom: 16px;
}

#viewTaskModal .btn.primary {
  margin-top: 10px;
}

footer {
  margin-top: 56px;
  margin-bottom: 32px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
}

#viewTaskDescription {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 132% !important;
}

#toggleEditDescriptionButton, #toggleDescriptionButton {
  background-color: #ffffff;
  color: #9C998E;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
}